@media (min-width: 414px) and (max-width: 896px) {
  .App {
    text-align: center;
    background-image: url(../public/apple-iphone-xr-medium.png);
    background-repeat: no-repeat;
    background-size: 414px 896px;
    min-height: 100vh;
    position: relative;
  }

  /* HOME PAGE */
  .home-page-links {
    position: absolute;
    top: 4rem;
  }

  #beer-link {
    background-image: url(./assets/beers.png);
    background-repeat: no-repeat;
    background-size: 350px;
    margin-left: 32px;
  }
  .beer-container {
    text-align: start;
    padding-top: 7rem;
    margin-right: 30px;
  }

  #random-beer-link {
    background-image: url(./assets/random-beer.png);
    background-repeat: no-repeat;
    background-size: 350px;
    margin-left: 32px;
  }
  .random-beer-container {
    text-align: start;
    padding-top: 6.5rem;
    margin-right: 30px;
  }

  #new-beer-link {
    background-image: url(./assets/new-beer.png);
    background-repeat: no-repeat;
    background-size: 350px;
    margin-left: 32px;
  }
  .new-beer-container {
    text-align: start;
    padding-top: 7rem;
    margin-right: 30px;
  }

  nav a {
    text-decoration: none;
    color: black;
  }

  nav a h3 {
    margin-bottom: 0px;
  }
  nav a p {
    color: gray;
    margin: 4px;
  }

  /* HEADER */

  .header {
    position: absolute;
    top: 4rem;
    width: 82%;
    left: 2rem;
    background-color: #3DC4FC;
    padding: 5px;
  }

  /* LOADER */

  .loader {
    position: absolute;
    top: 9rem;
    left: 10rem;
  }

  /* LIST OF ALL BEERS */

  .all-beers-container {
    position: relative;
    overflow-y: scroll;
    max-height: 896px;
  }

  .all-beers-item {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: start;
    grid-column-gap: 0.5rem;
    margin-right: 2rem;
    align-items: center;
    margin-bottom: -6.5rem;
    margin-top: 7rem;
    margin-left: 3rem;
  }

  .info-beer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .all-beers-item hr {
    width: 500%;
    margin-right: 3.5rem;
  }

  

}



